<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/lying/css/menu.css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="layui-body-header">
    <span class="layui-body-header-title">菜单管理</span>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-form toolbar">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <input id="menuName" class="layui-input" type="text" placeholder="菜单名称/编码">
                            </div>
                            <div class="layui-inline">
                                <input id="level" class="layui-input" type="text" placeholder="层级">
                            </div>
                            <div class="layui-inline">
                                <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon"></i>搜索</button>
                                <button id="btnAdd" class="layui-btn icon-btn"><i class="layui-icon"></i>添加</button>
                                <button id="expandAll" class="layui-btn icon-btn"><i class="layui-icon"></i>展开所有</button>
                                <button id="foldAll" class="layui-btn icon-btn"><i class="layui-icon"></i>折叠所有</button>
                            </div>
                        </div>
                    </div>
                    <table class="layui-table" id="menuTable" lay-filter="menuTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm  layui-btn-danger" lay-event="getCheckData">添加</button>
        <button class="layui-btn layui-btn-sm  layui-btn-danger" lay-event="getCheckLength">修改</button>
        <button class="layui-btn layui-btn-sm  layui-btn-danger" lay-event="isAll">删除</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>



<script src="/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.config({
        base: 'lying/',
    }).extend({treeTable:'js/treeTable'}).use(['treeTable','layer','code'],function(){
        var treeTable = layui.treeTable,
            layer = layui.layer,
        $ = layui.$;
        var	re = treeTable.render({
            elem: '#menuTable'
            ,url:'sysMenu/gettreeMenuList',
            icon_key: 'title',
            is_checkbox: true,
            // icon: {
            //     open: 'layui-icon layui-icon-rate',
            //     close: 'layui-icon layui-icon-rate-solid',
            //     left: 16,
            // },
            end: function(e){

            },
            cols: [
                {
                    key: 'title',
                    title: '菜单名称',
                    width: '100px',
                    align:'center',
                },
                {
                    key: 'id',
                    title: '菜单ID',
                    width: '100px',
                    align: 'center',
                },
                {
                    key: 'pid',
                    title: '父菜单ID',
                    width: '100px',
                    align: 'center',
                },
                {
                    key:'url',
                    title:'菜单链接',
                    width:'100px',
                    align:'center',
                }

            ]
        });

        $('#expandAll').click(function () {
            treeTable.openAll(re);
        });

        $('#foldAll').click(function () {
            treeTable.closeAll(re);
        });

        $('#btnAdd').click(function () {
            add();
        })


        function add(){
         layer.open({
                title:'添加菜单',
                type:2,
                content:'/add',
                area:['900px','600px']
            })
        }

        function modify(){

        }

        function del(){

        }
    });
</script>

</body>
</html>