/*PC*/
@media screen and (min-width:960px){
    .login-header{
        width: 1000px;
        height: 300px;
        margin-top: -400px;
        margin-left: -500px;
    }
    .login-header img{
        margin-top: -50px;
        margin-left: -100px;
    }
    .login-box{
        height: 300px;
        margin-top: -150px;   /*margin-top为height一半的负值*/
        width: 600px;
        margin-left: -300px;    /*margin-left为width一半的负值*/
    }
    .login-form-style{
        margin-left: -200px;
    }
}